* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577582;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.bb {
  border: 2px solid black;
}

/* utility classes */

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  /* border: 1px solid black; */
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-links {
  color: var(--primary-text-color);
  transition: 0.3s ease-out;
}
.hover-links:hover {
  color: var(--accent-color);
}

.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 600;
  color: white !important;
  box-shadow: 0 0 5px var(--secondary-text-color);
  transition: 0.3s ease-out;
}

.primary-button:hover {
  background-color: var(--accent-color-dark);
}
.secondary-button {
  border: 0.5px solid var(--accent-color-dark);
  border-radius: 6px;
  font-weight: 600;
  padding: 12px 24px;
  box-shadow: 0 0 5px var(--secondary-text-color);
  color: var(--accent-color-dark);
  background-color: white;
  transition: 0.3s ease-out;
}
.secondary-button:hover {
  color: var(--accent-color) !important;
}

/* top banner */

.top-banner {
  background-image: url("assets/asset 18.png");
  background-color: #4fb3d4;
  background-size: 300px;
}

.banner-text {
  color: white;
  padding: 15px 3px;
  text-align: center;
}

/* nav bar */

.main-nav {
  margin-top: 20px;

  justify-content: space-between;
}

.company-logo img {
  width: 250px;
}

.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}

/* header */

header {
  padding: 50px var(--padding-inline-section) 0;
}

.header-section {
  justify-content: center;
  gap: 50px;
}
.header-left {
  max-width: 40vw;
}
.header-left h1 {
  margin-top: 20px;
}

.header-right img {
  width: 600px;
}
.get-started-button {
  margin: 20px;
}

/* company */

.company-header {
  text-align: center;
  color: var(--primary-text-color);
  margin-block: 30px;
}
.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 45px;
}

/* feature section */

.features-section {
  background-image: url(""); /*here*/
}
.features-section {
  padding: 80px var(--padding-inline-section) 0;
}
.feature-header {
  text-align: center;
}
.feature-header h2 {
  margin-bottom: 20px;
}
.feature-area {
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.feature-card {
  text-align: center;
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
}

/* big feature section  */
.big-feature-section {
  margin: 30px var(--padding-inline-section) 0;
}
.big-feature-container {
  gap: 30px;
}

.feature-img img {
  width: 100%;
}

.feature-description {
  flex-direction: column;
  align-items: flex-start;
}

/* example section */
.example-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.example-header h2 {
  margin-bottom: 20px;
}
.example-aera {
  margin: var(--padding-inline-section);
  justify-content: space-between;
}
.example-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.786)),
    url("assets/asset 20.png");
  background-position: center;
  width: 23%;
  min-height: 300px;
  position: relative;
  transition: 0.3s ease-out;
}
.example-card:hover {
  box-shadow: 0 0 10px black;
  transform: translateX(1.1);
 
}
.example-card:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.786)),
    url("assets/asset 21.png");
  background-position: center;
  background-size: cover;
}
.example-card:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.786)),
    url("assets/asset 22.png");
  background-position: center;
  background-size: cover;
}
.example-card:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.786)),
    url("assets/asset 23.png");
  background-position: center;
  background-size: cover;
}

.example-card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: whitesmoke;
}
